
<img src="" height="100px">

<div class="footer">
    <div class="row">
        <div class="column">
            <br>
            <a href="/">
                <p style="font-size:28px">&#x0220F;</p>
                <h1 style="font-size:20px">Home</h1>
            </a>
        </div>
        <div class="column">
            <br>
            <a href="/saved">
                <p style="font-size:40px">&#x029BF;</p>
                <h1 style="font-size:20px">Saved</h1>
            </a>
        </div>
        <div class="column">
            <br>
            <p style="font-size:40px; padding-bottom:14px">&#x02A44;</p>
            <a><font size="4px"><%= link_to "Profile", current_customer%></font></a>
        </div>
    </div>
</div>